body {
   background: #2a1f94;
   background: -webkit-linear-gradient(to right, #f7a8e3, #82eed3);
   background: linear-gradient(to right, #f7a8e3, #82eed3);
   height: 100%;
   overflow:hidden;
   height:88%;
}
.col-md-12{
   margin-left:35%;
   width: 30%;
}
