.r{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    margin-left: 68%;
}
.cnt{
    padding-left: 540px;
}
.but{
    align-items: center;
    height: 35px;
    margin-left: 64%;

}
.but1{
    height: 35px;
    width: 60px;
    font-size: 20px;
}

.form-control{
    width: 300px;
    height: 35px;
}
.form-control{
    width: 300px;
    height: 35px;
    text-align: center;
    font-size: 25px;
}
body {
    background: #2a1f94;
    background: -webkit-linear-gradient(to right, #f7a8e3, #82eed3);
    background: linear-gradient(to right, #f7a8e3, #82eed3);
    height: 100%;
    overflow:hidden;
    height:88%;
 }
.totransactionhome{
    margin-left: 30%;
}
table{
    margin-right: 10%;
}
.container{
    margin-right:20%;
}
