<body>
  <br>
    <div class="form-group">
      <button class="btn btn-success" (click)="displayTransaction()">Display Transaction</button>&nbsp;
      <button class="btn btn-secondary" style="margin-left: 73%;" [routerLink]="['/dashboard-page']">BACK</button><br>

    </div>
  <div class="list">
    <h1><strong>Transactions List</strong></h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">TransactionId</th>
        <th scope="col">FromAccountId</th>
        <th scope="col">TransactionType</th>
        <th scope="col">ToAccountId</th>
        <th scope="col">Amount</th>
        <th scope="col">UserId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of Transaction">
        <td>{{ obj.transactionId }}</td>
        <td>{{ obj.fromAccountId }}</td>
        <td>{{ obj.transactionType }}</td>
        <td>{{ obj.toAccountId }}</td>
        <td>{{ obj.amount }}</td>
        <td>{{ obj.userId }}</td>
      </tr>
    </tbody>
  </table>

  <!-- <div *ngIf="Transaction.length !== 0"> -->


</body>