.menu{
  background-color: black;
  color:white;
  text-align:center;
  font-size: x-large;
  padding:1%;
}
.btn{
  color:black;
  background-color: white;
  margin-left: 70%;
}
.btn:hover{
  background-color: black;
  color: white;
}