<body>
  <div class="dashboard-heading">
    <h1>Welcome to Dashboard page!!!</h1>
  </div>
  <div class="card">
    <div class="card1" style="width: 10rem;">
      <img src="./../../assets/bank.png" class="card-img-top">
      <div class="card-body">
        <a href="./../account-create" class="btn btn-primary">Add Account</a><br><br>

      </div>
    </div>
    <div class="card2" style="width: 10rem;">
      <img src="./../../assets/profileicon.png" class="card-img-top">
      <div class="card-body">
        <a href="./../profile-page" class="btn btn-primary">View Profile</a>
      </div>
    </div>
    <div class="card3" style="width: 10rem;">
      <img src="./../../assets/transaction.png" class="card-img-top"><br><br>
        <a href="./../transaction-add" class="btn btn-primary" >Add Transaction</a><br><br>

    </div>
    
  </div>
</body>